.idea/
.venv/
venv/
*.log
*.pt
*.pkl
__pycache__/
.ipynb_checkpoints/
.python-version

res/models/*
data/*.csv
!data/REAMDE.md
result/*
src/result/*
tests/result/*

# line profile analysis file
*.lprof


data/.DS_Store
data/dataset.zip
!res/models/.gitkeep
res/models/*