.idea/
.venv/
venv/
.vscode/
*.log
*.pt
*.pkl
__pycache__/
.ipynb_checkpoints/
.python-version

data/*
!data/REAMDE.md
result/*
src/result/*
tests/result/*

# line profile analysis file
*.lprof


data/.DS_Store
data/dataset.zip


tests/model/result/

credentials/

candidates/
!candidates/node2vec/.gitkeep

zip/

.DS_Store
