repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-json
    - id: check-toml
    - id: check-xml
    - id: check-ast
    - id: check-added-large-files
      args: ["--maxkb=500"]
    - id: debug-statements
    - id: check-merge-conflict

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.9
  hooks:
    - id: ruff-format
    - id: ruff
      args: ["--fix"]

- repo: https://github.com/python-poetry/poetry
  rev: "2.1.1"
  hooks:
    - id: poetry-check
    - id: poetry-lock

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      name: codespell
      description: Checks for common misspellings in text files.
      language: python
      types: [text]
      exclude: "poetry.lock"
      args: ['--ignore-words-list=nin']
