name: Continuous integration with lint check and pytest

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Run Ruff linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Ruff lint
        uses: chartboost/ruff-action@v1
        with:
          version: "0.9.9"
          args: check .

      - name: Run Ruff format
        uses: chartboost/ruff-action@v1
        with:
          version: "0.9.9"
          args: format --check .

  poetry-lock-check:
    name: Check if poetry.lock is up to date
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Set up poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "2.1.1"

      - name: Check if poetry.lock is in sync with pyproject.toml
        run: poetry check --lock

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Set up poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "2.1.1"

      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install the project dependencies
        run: poetry install

      - name: Create token.json for authenticating google drive api
        run: |
          poetry run python3 scripts/candidate/create_google_drive_token.py \
            --token $GOOGLE_DRIVE_TOKEN \
            --refresh_token $GOOGLE_DRIVE_REFRESH_TOKEN \
            --client_id $GOOGLE_DRIVE_CLIENT_ID \
            --client_secret $GOOGLE_DRIVE_CLIENT_SECRET \
            --output_path "credentials/token.json"
        env:
          GOOGLE_DRIVE_TOKEN: ${{ secrets.GOOGLE_DRIVE_TOKEN }}
          GOOGLE_DRIVE_REFRESH_TOKEN: ${{ secrets.GOOGLE_DRIVE_REFRESH_TOKEN }}
          GOOGLE_DRIVE_CLIENT_ID: ${{ secrets.GOOGLE_DRIVE_CLIENT_ID }}
          GOOGLE_DRIVE_CLIENT_SECRET: ${{ secrets.GOOGLE_DRIVE_CLIENT_SECRET }}

      - name: Download latest node2vec candidate generation result
        run: |
          poetry python3 scripts/candidate/download_candidate_result.py \
            --model_name "node2vec" \
            --latest \
            --reusable_token_path "credentials/token.json"
          ls candidates/node2vec

      # - name: Run pytest
      #   run: |
      #     poetry run pytest
